<div>
    <div>
      <ul>
        <li goto-page="home"> Home</li>
        <li goto-page="camera"> Camera</li>
        <li>Contact</li>
        <li>About</li>
      </ul>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div>
      <textarea rows="30" cols="70" ng-model="info.debug"></textarea>
    </div>
    <div>
        <button ng-repeat="(key, value) in cam.commandList" ng-click="cam[key]()">{{key}}</button>
    </div>
    <div>
        <button ng-click="cam.pressShutter(); shutterPressed = true; startCounter()" ng-disabled="shutterPressed">pressShutter</button>
        <button ng-click="cam.releaseShutter(); shutterPressed = false; clearCounter()" ng-disabled="!shutterPressed">releaseShutter</button>
        <span ng-show="shutterPressed">{{counter}}</span>
    </div>
    <div>
        <input type="text" ng-model="fileName"/>
        <button ng-disabled="!fileName", ng-click="download()"> Download file</button>
    </div>
    <div>
        <input type="text" ng-model="custom_gphoto2_cmd"/>
        <button ng-disabled="!custom_gphoto2_cmd", ng-click="send_custom_gphoto2_cmd()"> Send custom command</button>
    </div>
    <br/>
</div>